@import "./_variables.scss";

@font-face {
  font-family: $subHeaderFont;
  src: url('./../../fonts/KannadaSangamMN-Bold.eot');
  src: url('./../../fonts/KannadaSangamMN-Bold.woff') format('woff'),
  url('./../../fonts/KannadaSangamMN-Bold.ttf') format('truetype'),
  url('./../../fonts/KannadaSangamMN-Bold.svg#KannadaSangamMN-Bold') format('svg'),
  url('./../../fonts/KannadaSangamMN-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $regular;
  src: url('./../../fonts/KannadaSangamMN.eot');
  src: url('./../../fonts/KannadaSangamMN.woff') format('woff'),
  url('./../../fonts/KannadaSangamMN.ttf') format('truetype'),
  url('./../../fonts/KannadaSangamMN.svg#KannadaSangamMN') format('svg'),
  url('./../../fonts/KannadaSangamMN.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $navFont;
  src: url('./../../fonts/Gotham-Bold.eot');
  src: url('./../../fonts/Gotham-Bold.woff') format('woff'),
  url('./../../fonts/Gotham-Bold.ttf') format('truetype'),
  url('./../../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
  url('./../../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $headersFont;
  src: url('./../../fonts/SignPainter-HouseScript.eot');
  src: url('./../../fonts/SignPainter-HouseScript.woff') format('woff'),
  url('./../../fonts/SignPainter-HouseScript.ttf') format('truetype'),
  url('./../../fonts/SignPainter-HouseScript.svg#SignPainter-HouseScript') format('svg'),
  url('./../../fonts/SignPainter-HouseScript.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
