$navFont: 'Gotham-Bold';
$headersFont: 'SignPainter';
$subHeaderFont: 'KannadaSangamMN-Bold';
$regular: 'KannadaSangamMN';
$font-awesome: 'FontAwesome';

//colors

$colorNavLinks:#6D6E71;
$border-grey:#808080;


$secondary-color:#231F20;
$third-color:#F9A11E;
$fourth-color:#DE5F25;
$fifth-color:#04844A;
$background-grey:#E5E5E5;
$social-links-bg:#F9A11E;